<div class="page-header">
  <%= link_to new_certtest_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Certtest
  <% end %>
  <h1>Listing certtests</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Project</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @certtests) do |certtest| %>
            <td><%= certtest.name %></td>
            <td><%= certtest.description %></td>
            <td><%= certtest.project %></td>
            <td><%= link_to 'Show', certtest %></td>
        <td><%= link_to 'Edit', edit_certtest_path(certtest) %></td>
        <td><%= link_to 'Destroy', certtest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
